$off-black: #1C1C1C;
$dark-grey: #8F8E8B;
$medium-grey: #E4E5E6;
$light-grey: #F4F4F4;
$teal: #159F9E;
$desktop-h1-fontsize: 40px;
$desktop-h2-fontsize: 30px;
$desktop-h3-fontsize: 25px;
$desktop-p-fontsize: 15px;
$mobile-h1-fontsize: 30px;
$mobile-h2-fontsize: 25px;
$mobile-h3-fontsize: 20px;
$mobile-p-fontsize: 13px;
$header-offset: 80px;
$mobile-size: 800px
