@import './shared.scss';

.SignUpContainer {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.BackGroundDim {
	background-color: black;
	height: 100%;
	width: 100%;  
	opacity: 0.5;
}

.SignUpWidgetContainer {
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: white;
	width: 350px; 
	text-align: right;
	padding: 0 0 35px 0;
	color: black; 
	opacity: 1;
}
.SignUpWidgetContainer > h2 {
	text-align: center;
}

.CloseSignUpWindow {
	margin-right: 10px;
	margin-top: 5px;
	cursor: pointer;
}

.SignUpWidgetContainer > h2 {
	font-weight: 400;	
}

.SignUpForm {
	display: flex;
	flex-direction: column;
	padding: 0 40px 0 40px;
}

.SignUpForm > button {
	font-weight: 600;
}

.SignUpInputContainer {
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}

.SignUpInput {
	padding: 8px 0 8px 0;
	background-color: $medium-grey;
	border-style: solid;
	border-color: $dark-grey;
	border-width: 0.5px;
}

.ContinueButtonContainer {
	background: $teal;
	text-align: center;
	color: white;
	padding: 10px 0 10px 0;
	cursor: pointer;
}

.ContinueButtonContainer > h3 {
	font-weight: 400;
}

h1 {
	font-size: $desktop-h1-fontsize;
}

h2 {
	font-size: $desktop-h2-fontsize;
}

h3 {
	font-size: $desktop-h3-fontsize;
}

.LearnStart {
	color: $off-black;
	float: left;
}

.SignUp {
	color: $teal;
	float: right;
	cursor: pointer;
}